<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.terrameta.plasma.perspective.PlasmaPerspective"
            icon="icons/plasma_perspective6.png"
            id="org.terrameta.plasma.perspective"
            name="Plasma">
      </perspective>
   </extension>

</plugin>
